<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-grid>
  <ion-row>
    <ion-col>
      <div>
      <!--  <ion-card>
  <ion-card-header>
   
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>
</ion-card> -->
<ion-icon name="bus" class="icon"  [routerLink]="'/aboutus'"></ion-icon>
     BUS
      </div>
    </ion-col>
    <ion-col>
      <div>
         <ion-card>
  <ion-card-header>
   
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>
</ion-card>
      </div>
    </ion-col>
    <ion-col>
      <div>
           <ion-card>
  <ion-card-header>
   
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>
</ion-card>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
